#all-courses {
    margin-top: 2rem;
}



#course-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#course-heading h2 {
    font-size: 1.5rem;
    color: var(--neon);
    margin-left: 1rem;
}

#course-heading p {
    color: var(--muted);
}

#course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}