:root{
    --primary: #2563EB;
    --secondary: #38BDF8;
    --background: #020617;
    --surface: rgba(255,255,255,.05);
    --gray: #94A3B8;
    --border: #1E293B;
    --success: #22C55E;
    --danger: #EF4444;
    --muted: #cbd5e181;
    --radius: 12px;
    --transition: 0.3s ease;

    /* Main Neon Color */
    --neon: #00eaff;

    /* Dark Background */
    --dark: #020617;

    /* Secondary Glow */
    --glow: #0066ff;

    /* Text Color */
    --text: #ffffff;
    --golden: #ffd700;
}