#recentJoinStudent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#recentJoinStudent h1{
    margin-left: 1rem;
    font-size: 1.7rem;
    color: var(--neon);
    position: relative;
}

#recentJoinStudent h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50px;
    width: 200px;
    height: 3px;
    background-color: var(--glow);
    border-radius: 50%;
}

#recenJoinStudentsCards{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}