#AllStudents{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#AllStudents h1{
    margin-left: 1rem;
    font-size: 1.7rem;
    color: var(--neon);
    position: relative;
}

#AllStudents h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 5px;
    width: 150px;
    height: 3px;
    background-color: var(--glow);
    border-radius: 50%;
}

#AllStudentCards{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}